body {
    background-image: url("Blue Background.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}

p {
    color: yellow;
    font-size: 33px;
    margin-top: 5px;
}

h1 { 
    Color: white;
    font-size: 40px;
}

img { 
    height: 300px;
    margin-right: 50px;
}
.No-school {
    border: 10px solid blue;
    border-image: fill;
}
.School {
    Border: 10px solid blue;
}

.no-school {
    Border: 10px solid blue;
}

table {
    border-collapse: collapse;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    display: inline;
    float: left;
}
  
a {
      display: block;
      padding: 8px;
}

li a:hover {
    background-color: #111;
}

li a {
    color: white;
    text-decoration:none;
    padding: 14px 16px;
}
