table {
    border-collapse: collapse;
    
}

td{
    background-color: lightblue;
    padding: 10px;
    border: 3px solid black;
    text-align: center;
}

th{
    border: 3px solid black;
    font-size: x-large;
    background-color: yellow;   
}

.days-header{
    background-color: lightgreen;

}

.monday-header{
    background-color: green;
}

.tuesday-header{
    background-color: lightgreen;
}

.wednsday-header{
    background-color: green;
}

.thursday-header{
    background-color: lightgreen;
}

.friday-header{
    background-color: green;
}

.reccess-header{
    background-color: lightgreen;
}

.saturday-header{
    background-color: green;
}

.sunday-header{
    background-color: lightgreen;
}

.math-header{
    background-color: green;
}

.lunch-header{
    background-color: lightgreen;
}

.literacy-header{
    background-color: green;
}

p {
    color: pink;
    font-size: 40px;
    margin: 20px;
    padding: 2px;
}

body {
    background-image: url("Blue Background.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    color:black;
}

h3 {
    color:white;
    font-size:40px;
}

.thumbs-up {
    height: 94px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    display: inline;
    float: left;
}
  
a {
      display: block;
      padding: 8px;
}

li a:hover {
    background-color: #111 ;
}

li a {
    color:white;
    text-decoration: none; 
    padding: 14px 16px;
}

img {
    height:350px;
    margin-right: 150px;
    float:right;
}

.school-bad {
    margin-top: -385px;
    border: 10px solid blue;
    border-image: fill;
}





